<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="description" content="Journal" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tealium Presentation by Nam Ngo</title>
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Lato|Roboto|Baloo+Tamma"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css"
      rel="stylesheet"
    />
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-140021173-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-140021173-1");
    </script>
  </head>
</html>
