<%- include('head', {}); %>

<body>
    <script type="text/javascript">
      var utag_data = {
        page_name: "index", // Contains a user-friendly name for the page.
        page_category: "landing page", // Contains a user-friendly page category, e.g. 'appliance page'.
        ga_eventCategory : "New User Sign Up", // GA event Category
        ga_eventLabel : "Sign Up Link", // GA: Event Label
        ga_eventAction : "link event" // GA: Event Action
      };
    </script>
     <!-- Loading script asynchronously -->
     <script type="text/javascript">
      (function(a, b, c, d) {
        a = "//tags.tiqcdn.com/utag/services-presentations/nam-ngo/prod/utag.js";
        b = document;
        c = "script";
        d = b.createElement(c);
        d.src = a;
        d.type = "text/java" + c;
        d.async = true;
        a = b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d, a);
      })();
    </script>
    <main role="main" id="main-index">
        <h1 class="pizza-title">I Need Pizza</h1>
        <section role="region" class="landing-content">
        
        </section>
        <footer role="contentinfo" class="landing-auth">
            <h3 id="auth-label">Get some pizza today!</h3>
            <div id="auth-btns"></div>
            <a href="/login" class="btn">Log in</a>
            <a href="/signup" class="btn signup">Sign up</a>
            </div>
            <div id="copyright">
                <hr />
                <a href="https://github.com/namninja" target="_blank"><i class="fab fa-github"> Nam Ninja</i></a>
            </div>
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>