<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
    <script type="text/javascript">
      var utag_data = {
        page_name: "menu", // Contains a user-friendly name for the page.
      };
    </script>
       <script type="text/javascript">
        utag.view({
          tealium_event : "product_list_view",
          product_on_page : [Pizza] // Required
        });
      </script>
    <!-- Loading script asynchronously -->
    <script type="text/javascript">
      (function(a, b, c, d) {
        a = "//tags.tiqcdn.com/utag/services-presentations/nam-ngo/prod/utag.js";
        b = document;
        c = "script";
        d = b.createElement(c);
        d.src = a;
        d.type = "text/java" + c;
        d.async = true;
        a = b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d, a);
      })();
    </script>
    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="pizza-logo" href="/dashboard"><img id="pizza-header" src="../img/icon.png" alt="Pizza Icon"></a>
            <h1 class="pizza-dash">I Need Pizza</h1>
        </header>
       
        <section role="region" class="pizza-order">
          <h2>Menu</h2>
          <h3><li>Pizza</li></h3>
        
      </section>
        <section role="region" class="pizza-order">
            <a href="/order" class="link-order"> Click Here to Order </a>
          
        </section>
     
        <footer role="contentinfo" id="dash-footer">  
            <a href="/logout">
                <i id="logout" class="fas fa-sign-out-alt"></i>
            </a>
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>