<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
    <script type="text/javascript">
      var utag_data = {
        page_name: "order", // Contains a user-friendly name for the page.
        ga_eventCategory : "Pizza Order Form", // GA event Category
        ga_eventLabel : "Pizza Order", // GA: Event Label
        ga_eventAction : "link event" // GA: Event Action
      };
    </script>
    
    <!-- Loading script asynchronously -->
    <script type="text/javascript">
      (function(a, b, c, d) {
        a = "//tags.tiqcdn.com/utag/services-presentations/nam-ngo/prod/utag.js";
        b = document;
        c = "script";
        d = b.createElement(c);
        d.src = a;
        d.type = "text/java" + c;
        d.async = true;
        a = b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d, a);
      })();
    </script>
    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="pizza-logo" href="/menu"><img id="pizza-header" src="../img/icon.png" alt="Pizza Icon"></a>
            <h1 class="pizza-dash">I Need Pizza</h1>
        </header>
        <form action="/order-pizza" method="post">
        <section role="region" class="pizza-order">
          <label><h3>Total Pizzas Ordered: <%= pizzas.length %></h3></label>
        
      </section>
        <section role="region" class="pizza-order">
            <button type="submit" class="btn-order"> Order a Pizza </button>
          
        </section>
        </form>
        <footer role="contentinfo" id="dash-footer">  
            <a href="/logout">
                <i id="logout" class="fas fa-sign-out-alt"></i>
            </a>
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>