body * {
  box-sizing: border-box;
  color: #213210;
}

body, html {
  height: 100%;
}

body {
  background-color: #EFF5E9;
  font-family: 'Merriweather', serif;
  min-height: 100vh;
}

.hidden {
  display: none;
  visibility: hidden;
}

.links {
  color: blue;
  text-decoration: underline;
}

.links:hover {
  text-decoration: none;
}

.links:active {
  color: black;
}

.links:visited {
  color: purple;
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  width: 175px;
  text-decoration: none;
  background: #F89A76;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.link-order {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #F89A76;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-order {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #F89A76;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-journal {
  display: inline-block;
  border: none;
  min-width: 80px;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  background: #F89A76;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover, .btn:focus, .btn-journal:hover, .btn-journal:focus, .btn-create:hover, .btn-create:focus {
  background: #666C35;
}

#logout:hover, #logout:focus {
  color: #666C35;
}

.btn:focus, #logout:focus, .btn-journal:focus {
  outline: 1px solid #fff;
  /* outline-offset: -4px; */
}

.btn:active, #logout:active, .btn-journal:active {
  transform: translateY(3px);
}

.keyword {
  font-style: italic;
}

button:active, a:active {
  transform: translateY(3px);
}

#main-index {
  background: url('img/icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-title {
  font-family: 'Baloo Tamma', cursive;
  text-align: center;
  color: #213210;
  font-size: 3rem;
  margin: .75rem;
}

.landing {
  text-align: center;
  color: #213210;
  margin: 10px;
}

.landing-content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.landing-detail {
  text-align: center;
  color: #213210;
  padding: 0 .5rem;
}

.landing-auth {
  flex-shrink: 0;
  text-align: center;
  color: #213210;
}

#auth-label {
  padding: 10px;
  font-size: 1.25rem;
}

#auth-btns {
  font-family: 'Baloo Tamma', cursive;
}

#copyright {
  margin-top: 10px;
  padding: 10px;
}

.alert {
  padding: 12px;
  background-color: #f44336b2;
  color: white;
  margin: 5px;
}

.form-sign, .form-log {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
}

.sign-head, .log-head {
  font-family: 'Baloo Tamma', cursive;
  font-size: 38px;
}

.sign-form, .log-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-group {
  margin-bottom: 1rem
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.page-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.pizza-dash {
  font-family: 'Baloo Tamma', cursive;
  text-align: center;
  color: #213210;
  font-size: 32px;
  margin: 5px 5px 5px 5px;
}

#pizza-logo {
  margin-left: 5px;
  height: auto;
}

#pizza-header {
  width: 90px;
}

#logout {
  color: #F89A76;
  flex-shrink: 0;
  margin: 20px;
}

#logout-btn {
  margin-right: 18px;
}

.pizza-order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  font-family: "Monserrat", serif;
}

#dash-footer {
  height: 20px;
  text-align: center;
  margin-top: auto;
}

.navigation {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
  #main-index {
    background: url('img/icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 40%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pizza-title {
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    color: #213210;
    font-size: 4rem;
    margin: .75rem;
  }
  #pizza-header {
    width: 90px;
  }
  .pizza-dash {
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    color: #213210;
    font-size: 45px;
    margin: .75rem;
    margin-left: 20px;
  }
  #pizza-logo {
    margin-left: 5px;
    flex-shrink: 0;
  }
}